* {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Quicksand', sans-serif;
}

header {
    left:0px;
    top:0px;
    height:100px;
    width:100%;
    position: absolute;
    overflow: hidden;
    margin: auto;  
    background-image: url(https://static1.squarespace.com/static/57e29df6893fc04835042997/57e2a798be6594e3889c9973/57e2a924c534a53fcc39f660/1474472258610/James+Farrell14297.jpg?format=1500w);
    background-size: inherit;
    background-position-y: -300px;
}


/* .headshot {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 150%;
    margin-top: -525px;
    margin-left: -375px;
} */

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: right;
    background-color: transparent;
    margin-right: 100px;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;    
}

.mainForm {
    display: flex;
    flex-flow: column wrap;
    margin-top: 125px;
}

label {
    display: block;
    padding-bottom: 5px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#submitButton {
    width: 150px;
    margin-top: 10px;
    padding: 5px;
}

#journalDate, 
#conceptsInput,
#journalEntry,
#moodBox,
.submitButton
{
    border-radius: 5px;
    background-color: snow;
    color: black;
    min-width: 125px;
    min-height: 15px;
    border: 2px solid rgb(0, 0, 0)
}

fieldset {
    border-radius: 5px;
    border: 3px solid white;
    margin-bottom: 10px; 
}

.journalHeaderDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.printedJournalEntry {
    border: 1px solid white;
    padding: 5px;
    margin-top: 10px;
    display: flex;
}

.printedConcepts {
    text-decoration: underline;
    font-size: 24px;

}

.printedDate {
    font-size: 12px;
    margin-top: 10px;

}
.printedMood {
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;

}
.printedJournalEntry {
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    
    header {
        left:0px;
        top:0px;
        height:100px;
        width:100%;
        position: absolute;
        overflow: hidden;
        margin: auto;  
        background-image: none;
    }

    h1 {
        font-family: 'Permanent Marker', cursive;
        text-align: center;
        background-color: transparent;
    }
}
