* {
    background-color: rgb(124, 38, 38);
    color: white;
    font-family: 'Quicksand', sans-serif;
}
header {
    position:fixed;
    left:0px;
    top:0px;
    height:100px;
    width:100%;
    background:rgb(0, 0, 0);
    overflow: hidden;
 }

 .headshot {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 225%;
    margin-top: -350px;
    margin-left: -350px;

}

h1 {
    font-family: 'Permanent Marker', cursive;
    padding-top: 100px;
}

.mainForm {
    display: flex;
    flex-flow: column wrap;
    
}

label {
    display: block;
    padding-bottom: 5px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.submitButton {
    width: 150px;
    margin-top: 10px;
}

#journalDate, 
#conceptsInput,
#journalEntry,
#moodBox,
.submitButton
 {
    border-radius: 5px;
    background-color: snow;
    color: black;
    min-width: 125px;
    min-height: 15px;
    border: 2px solid rgb(0, 0, 0)
}

fieldset {
    border-radius: 5px;
    border: 3px solid white;
    margin-bottom: 10px; 
}




/* #journalEntry {
    min-width: 125px;
    min-height: 15px;
} */

